<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMDB Weekly Trends</title>
    <link rel="stylesheet" href="../css/weekly-trends.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>WEEKLY TRENDS</h2>
        <a href="#" class="see-all">See all</a>
      </div>
      <div id="movie-grid" class="movie-grid"></div>
    </div>
    <script src="../js/weekly-trends.js"></script>
  </body>
</html>
